In [5]:
import pandas as pd
s1 = pd.Series(range(10,20))
print(s1)
print(s1.head(3))
print(s1.values)
print(s1.index)
print(s1[4])

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64
0    10
1    11
2    12
dtype: int64
[10 11 12 13 14 15 16 17 18 19]
RangeIndex(start=0, stop=10, step=1)
14

In [6]:
print(s1 * 2)

0    20
1    22
2    24
3    26
4    28
5    30
6    32
7    34
8    36
9    38
dtype: int64

In [12]:
year_data = {2001: 17.8, 2002: 20.1, 2003: 16.5}
s2 = pd.Series(year_data)
s2.name = 'temp'
s2.index.name = 'year'
print(s2)
s2

year
2001    17.8
2002    20.1
2003    16.5
Name: temp, dtype: float64

year
2001    17.8
2002    20.1
2003    16.5
Name: temp, dtype: float64

In [19]:
import numpy as np
d1 = pd.DataFrame(np.arange(10,34).reshape(4,6))
d2 = pd.DataFrame(np.random.randn(5,4))
print(d1)
print(d2)
print(d2.head(1))

    0   1   2   3   4   5
0  10  11  12  13  14  15
1  16  17  18  19  20  21
2  22  23  24  25  26  27
3  28  29  30  31  32  33
          0         1         2         3
0 -0.221934  0.478592 -0.072053 -0.476050
1  0.716200  1.784279  0.243433 -0.402355
2  0.879087  2.187607  1.869882  1.161533
3  0.228203 -0.244911 -0.604732  0.409092
4 -0.191863  1.053943 -1.031274  0.697705
          0         1         2        3
0 -0.221934  0.478592 -0.072053 -0.47605

In [30]:
dict_data = {'A': 1,'B': pd.Timestamp('20190926'),'C': pd.Series(1,index=list(range(4)),dtype='float32'),'D': np.array([3] * 4,dtype='int32'),'E': ["Python","Java","C++","C"],'F': 'wangdao' }
d1 = pd.DataFrame(dict_data)
print(d1)

# d1={"name":["xiaoming","xiaogang"],"age":[20,32],"tel":[10086,10010]}
# print(pd.DataFrame(d1))

d2 =[{"name" : "xiaohong" ,"age" :32,"tel" :10010},{ "name":"xiaogang" ,"tel": 10000} ,{"name":"xiaowang" ,"age":22}]
print(pd.DataFrame(d2))

   A          B    C  D       E        F
0  1 2019-09-26  1.0  3  Python  wangdao
1  1 2019-09-26  1.0  3    Java  wangdao
2  1 2019-09-26  1.0  3     C++  wangdao
3  1 2019-09-26  1.0  3       C  wangdao
       name   age      tel
0  xiaohong  32.0  10010.0
1  xiaogang   NaN  10000.0
2  xiaowang  22.0      NaN

In [32]:
d2 = pd.DataFrame(d2)
print(d2['name'])
d1['G'] = d1['D'] + 4
print(d1)
del d1['G']
print(d1)

0    xiaohong
1    xiaogang
2    xiaowang
Name: name, dtype: object
   A          B    C  D       E        F  G
0  1 2019-09-26  1.0  3  Python  wangdao  7
1  1 2019-09-26  1.0  3    Java  wangdao  7
2  1 2019-09-26  1.0  3     C++  wangdao  7
3  1 2019-09-26  1.0  3       C  wangdao  7
   A          B    C  D       E        F
0  1 2019-09-26  1.0  3  Python  wangdao
1  1 2019-09-26  1.0  3    Java  wangdao
2  1 2019-09-26  1.0  3     C++  wangdao
3  1 2019-09-26  1.0  3       C  wangdao

In [36]:
ser_obj = pd.Series(range(5), index = ['a', 'b', 'c', 'd', 'e'])
print(ser_obj)
ser_obj = pd.Series(range(5), index = list("abcde"))
print(ser_obj.head())
print(ser_obj['b'])
print(ser_obj.iloc[2])

a    0
b    1
c    2
d    3
e    4
dtype: int64
a    0
b    1
c    2
d    3
e    4
dtype: int64
1
2

In [38]:
print(ser_obj.iloc[1:3])
print(ser_obj['b':'d'])

b    1
c    2
dtype: int64
b    1
c    2
d    3
dtype: int64

In [40]:
print(ser_obj.iloc[[0, 2, 4]])
print(ser_obj[['a', 'e']])

a    0
c    2
e    4
dtype: int64
a    0
e    4
dtype: int64

In [41]:
ser_bool = ser_obj > 2
print(ser_bool)
print(ser_obj[ser_bool])

a    False
b    False
c    False
d     True
e     True
dtype: bool
d    3
e    4
dtype: int64

In [44]:
df_obj = pd.DataFrame(np.random.randn(5,4), columns = ['a', 'b', 'c', 'd'])
print(df_obj.head())
print(df_obj['a']) # 返回 Series 类型
print(type(df_obj['a']))
print(df_obj[['a']]) # 返回 DataFrame 类型
print(type(df_obj[['a']])) # 返回 DataFrame 类型

          a         b         c         d
0  1.710539  2.790638 -0.795220 -0.195249
1 -0.285286 -0.294783 -0.866930  0.472951
2 -0.346358  2.184616 -0.303946 -1.600553
3  0.860254  0.611929 -0.620841 -0.703194
4  0.981606 -0.906197  0.835355  1.097247
0    1.710539
1   -0.285286
2   -0.346358
3    0.860254
4    0.981606
Name: a, dtype: float64
<class 'pandas.core.series.Series'>
          a
0  1.710539
1 -0.285286
2 -0.346358
3  0.860254
4  0.981606
<class 'pandas.core.frame.DataFrame'>

In [45]:
#短的部分在运算后直接变成nan
s1 = pd.Series(range(10, 20), index = range(10))
s2 = pd.Series(range(20, 25), index = range(5))
print(s1 + s2)

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64

In [46]:
print(s1.add(s2,fill_value=0))

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5    15.0
6    16.0
7    17.0
8    18.0
9    19.0
dtype: float64