In [2]:
import pandas as pd
import numpy as np
dict_obj = {'key1' : ['a', 'b', 'a', 'b',
'a', 'b', 'a', 'a'],
'key2' : ['one', 'one', 'two', 'three',
'two', 'two', 'one', 'three'],
'data1': [np.random.randint(1, 10) for i in range(8)],
'data2': [np.random.randint(1, 10) for i in range(8)]}
df_obj = pd.DataFrame(dict_obj)
print(df_obj)

  key1   key2  data1  data2
0    a    one      9      4
1    b    one      1      6
2    a    two      1      7
3    b  three      7      2
4    a    two      2      7
5    b    two      3      4
6    a    one      5      2
7    a  three      8      9

In [ ]:
from unicodedata import numeric

df_obj.groupby('key1').mean(numeric_only=True)

         data1  data2
key1
a     5.000000    5.8
b     3.666667    4.0

In [5]:
df_obj.groupby('key1').describe()

     data1                                              data2                 \
     count      mean       std  min  25%  50%  75%  max count mean       std
key1
a      5.0  5.000000  3.535534  1.0  2.0  5.0  8.0  9.0   5.0  5.8  2.774887
b      3.0  3.666667  3.055050  1.0  2.0  3.0  5.0  7.0   3.0  4.0  2.000000


      min  25%  50%  75%  max
key1
a     2.0  4.0  7.0  7.0  9.0
b     2.0  3.0  4.0  5.0  6.0

In [10]:
def peak_arrage(df):
    return df.max() - df.min()

print(df_obj.loc[:,['key1','data1', 'data2']].groupby('key1').agg(peak_arrage))
print(df_obj.loc[:,['key1','data1', 'data2']].groupby('key1').agg(lambda x: x.max() - x.min()))

      data1  data2
key1
a         8      7
b         6      4
      data1  data2
key1
a         8      7
b         6      4

In [14]:
from statistics import mean

print(df_obj.loc[:,['key1','data1', 'data2']].groupby('key1').agg(['mean','std','count',peak_arrage]))

         data1                             data2
          mean       std count peak_arrage  mean       std count peak_arrage
key1
a     5.000000  3.535534     5           8   5.8  2.774887     5           7
b     3.666667  3.055050     3           6   4.0  2.000000     3           4