In [21]:
import pandas as pd
import numpy as np

s1 = pd.Series(np.arange(12),index=[['a','a','a','b','b','b','c','c','c','d','d','d'],[0,1,2,0,1,2,0,1,2,0,1,2]])
print(s1) # 注意不是dataframe

a  0     0
   1     1
   2     2
b  0     3
   1     4
   2     5
c  0     6
   1     7
   2     8
d  0     9
   1    10
   2    11
dtype: int64

In [5]:
print(type(s1.index))
print(s1.index)

<class 'pandas.core.indexes.multi.MultiIndex'>
MultiIndex([('a', 0),
            ('a', 1),
            ('a', 2),
            ('b', 0),
            ('b', 1),
            ('b', 2),
            ('c', 0),
            ('c', 1),
            ('c', 2),
            ('d', 0),
            ('d', 1),
            ('d', 2)],
           )

In [6]:
s1.loc['c']

   0
0  6
1  7
2  8

In [22]:
# 在层级索引中使用loc时,需要用元组来指定完整的索引层级
#s1.loc[:,(2,)]
s1.loc[:, 2]

a     2
b     5
c     8
d    11
dtype: int64

In [15]:
s1.swaplevel()

      0
0 a   0
1 a   1
2 a   2
0 b   3
1 b   4
2 b   5
0 c   6
1 c   7
2 c   8
0 d   9
1 d  10
2 d  11

In [17]:
s1.unstack(1)

   0
   0   1   2
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [23]:
s1.unstack(0)

   a  b  c   d
0  0  3  6   9
1  1  4  7  10
2  2  5  8  11

In [19]:
ser_obj = pd.Series(np.random.randn(12),index=[
['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c', 'd', 'd',
'd'],
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]
])
print(ser_obj)

a  0   -0.522292
   1   -0.637214
   2   -2.035169
b  0    0.253144
   1    2.464018
   2   -0.807301
c  0    1.169859
   1    1.672749
   2   -1.352643
d  0    0.950900
   1    0.580398
   2    2.134070
dtype: float64

In [20]:
print(ser_obj[:, 2])

a   -2.035169
b   -0.807301
c   -1.352643
d    2.134070
dtype: float64